{% extends "base.html" %}

{% block title %} - Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-6">
        <form method="POST" class="card p-3 bg-light">
          <input type="hidden" name="form-name" value="addBook">
          <h3 align="center">New book form</h3>
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="title"
              class="form-control"
              id="title"
              name="title"
              placeholder="Enter the book's title"
            />
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input
              type="author"
              class="form-control"
              id="author"
              name="author"
              placeholder="Enter the author's name"
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              rows="3"
              placeholder="Enter a description of the book"
              ></textarea>
          </div>
          <div class="form-group">
            <label for="publish_year">Year Published</label>
            <input
              type="publish_year"
              class="form-control"
              id="publish_year"
              name="publish_year"
              placeholder="Enter the year in which the book was published"
            />
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
        <div class="col-6">
          <div>
            <form method="POST" class="card p-3 bg-light">
              <input type="hidden" name="form-name" value="removeBook">
              <h3 align="center">Book Removal</h3>
              <label for="titleSearch">Title</label>
              <input name ="titleSearch" type="text" class="live-search-box" placeholder="Enter the title" />
              <br>
              <div class="card p-3 bg-light">
                <label for="titleList">Books that are available to remove:</label>
                <ul name="titleList" class="live-search-list" type="None">
                  {% for book in allBooks %}
                    {% if book.loaned_to == 0 %}
                      <li class="deleteable_books">{{ book.title }} 
                        <input id="book_id" name="book_id" type="hidden" value="{{ book.id }}">
                        <button class="btn btn-primary delete_button" type="submit" name="action" value="{{ book.id }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></path>
                          </svg>
                        </button>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
                
              <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                
              <script type="text/javascript">
                jQuery(document).ready(function($){
                
              $('.live-search-list li').each(function(){
              $(this).attr('data-search-term', $(this).text().toLowerCase());
              });
                
              $('.live-search-box').on('keyup', function(){
                
              var searchTerm = $(this).val().toLowerCase();
                  $('.live-search-list li').each(function(){
                      if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                          $(this).show();
                      } else {
                          $(this).hide();
                      }
                  });
              });
                
              });
              </script>
            </form>
          </div>
        </div>
    </div>
</div>
  
  
<br>
{% endblock %}